theme = Catppuccin Mocha
font-size = 16

keybind = cmd+comma=open_config

keybind = performable:ctrl+h=goto_split:left
keybind = performable:ctrl+j=goto_split:bottom
keybind = performable:ctrl+k=goto_split:top
keybind = performable:ctrl+l=goto_split:right

split-divider-color = #888888
unfocused-split-opacity = 0.5
unfocused-split-fill = #1e1e2e
